body {
  width: 100svw;
  overflow-x: hidden;
}

/* Component 1 Start */

.component1-background {
  background: linear-gradient(
    180deg,
    rgba(170, 222, 197, 0.174) 0%,
    rgba(255, 223, 134, 0.3) 100%
  );
  margin-bottom: -2rem;
}

.banner {
  width: 70%;
}

.component1-logo {
  width: 150px;
  height: 100px;
}

.component1-button {
  width: 80%;
  margin-right: 2rem;
  border: none;
  border-radius: 50rem;
  background: linear-gradient(143.15deg, #83c083 -2.31%, #6f730d 102.06%);
  box-shadow: 0px 0px 5px 2px;
}

.rightCloud {
  height: 8rem;
  margin-right: -2.5rem;
  margin-top: -30rem;
  width: 15rem;
  height: 15rem;
}

.leftCloud {
  height: 8rem;
  margin-left: -4rem;
  margin-top: 28rem;
  width: 15rem;
  height: 15rem;
}

.youtube {
  width: 50%;
}

.egg {
  width: 70%;
}

/* Add these media queries for smaller screens */
/* @media (max-width: 1439px) and (min-width: 1023px) {
  .rightCloud {
    margin-left: 47rem;
    margin-top: -75rem;
  }

  .component1-logo {
    width: 100px;
    height: 85px;
  }

  .component1-button {
    width: 95%;
  }
} */
/* Component 1 End */

/* Component 2 Start */

.arrow-container {
  width: 50px;
  background: linear-gradient(143.15deg, #83c083 -2.31%, #6f730d 102.06%);
}

.arrow-icon {
  font-size: xx-large;
  font-weight: bolder;
}

.component2-text {
  color: rgba(60, 69, 38, 1);
}

/* Component 2 End */

/* Component 3 Start */

.component3-container {
  height: 500px;
}

.component3-background {
  background: linear-gradient(
    180deg,
    rgba(170, 222, 197, 0.174) 0%,
    rgba(255, 223, 134, 0.3) 100%
  );
  height: 100%;
}

.component3-background-image {
  background-image: url("src/assets/Comp3-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.component3-text {
  color: rgba(60, 69, 38, 1);
  padding-top: 8rem;
}

.component3-vd1 {
  width: 80%;
  margin-top: -13rem;
  margin-left: 2rem;
}

.component3-vd2 {
  width: 80%;
  margin-top: -13rem;
}

.component3-button {
  width: 15%;
  border: none;
  border-radius: 50rem;
  background: linear-gradient(143.15deg, #83c083 -2.31%, #6f730d 102.06%);
  box-shadow: 0px 0px 5px 2px;
}

/* Component 3 End */

/* Component 4 Start */

.component4-container {
  height: 500px;
}

.component4-background {
  background: linear-gradient(
    327.64deg,
    rgba(237, 138, 22, 0.3) -2.82%,
    rgba(154, 197, 133, 0.3) 165.15%
  );
  height: 100%;
}

.component4-background-image {
  background-image: url("src/assets/Comp4-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.component4-text {
  color: rgba(60, 69, 38, 1);
  padding-top: 12rem;
}

.component4-img {
  margin-top: -8rem;
}

.component4-button {
  width: 20%;
  border: none;
  border-radius: 50rem;
  background: linear-gradient(327.64deg, #ed8a16 -2.82%, #9ac585 165.15%);
  box-shadow: 0px 0px 5px 2px;
}

/* Component 4 End */

/* Component 5 Start */

.component5-container {
  height: 65rem;
  margin-top: 25rem;
  max-width: 100%;
}

.component5-background {
  background: linear-gradient(
      180deg,
      rgba(170, 222, 197, 0.174) 0%,
      rgba(255, 223, 134, 0.3) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  height: 100%;
  margin-inline: -0.5rem;
}

.component5-background-image {
  background-image: url("src/assets/Comp3-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
}

.component5-text {
  color: rgba(60, 69, 38, 1);
}

.component5-bird {
  margin-top: -28rem;
  margin-left: -50rem;
  height: 20rem;
  width: 30rem;
  position: relative;
  z-index: 3;
}

.component5-row {
  margin-top: -10rem;
}

.component5-container2 {
  height: 25rem;
  width: 20rem;
  border-radius: 20px;
  background: linear-gradient(140.64deg, #e2a042 -7.81%, #abaf44 102.32%);
  margin-right: -23rem;
  position: relative;
  z-index: 1;
}

.component5-container3 {
  height: 25rem;
  width: 20rem;
  border-radius: 20px;
  background: linear-gradient(140.64deg, #e2a042 -7.81%, #abaf44 102.32%);
  margin-right: -22rem;
}

.component5-container4 {
  height: 25rem;
  width: 20rem;
  border-radius: 20px;
  background: linear-gradient(143.15deg, #83c083 -2.31%, #6f730d 102.06%);
  margin-left: 22rem;
  overflow-x: hidden;
}

.component5-fence1 {
  margin-bottom: -3rem;
}

.component5-garden1 {
  margin-left: -10rem;
  margin-bottom: -3.5rem;
}

.component5-fence2 {
  margin-bottom: -3rem;
}

.component5-garden2 {
  margin-left: -8rem;
  margin-bottom: -3.5rem;
}

.component5-row1 {
  margin-bottom: 13rem;
}

@media (max-width: 992px) {
  .component5-container {
    height: auto;
    margin-top: 0;
    padding-top: 3rem;
  }

  .component5-background-image {
    height: 40%;
  }

  .component5-bird {
    margin-top: -18rem;
    margin-left: 0;
  }

  .component5-row {
    margin-top: -8rem;
  }

  .component5-container2,
  .component5-container3,
  .component5-container4 {
    height: auto;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .component5-row1 {
    margin-bottom: 0;
  }
}

/* Component 5 End */

/* Component 6 Start */

.component6-image {
  height: 200px;
  width: 200px;
}

.component6-text {
  color: rgba(60, 69, 38, 1);
}

/* Component 6 End */

/* Component 7 Start */

.component7-container {
  max-width: 100%;
  max-height: 97rem;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(170, 222, 197, 0.3) 0%,
    rgba(255, 223, 134, 0.3) 100%
  );
}

.component7-container2 {
  margin-top: 10rem;
  border-radius: 20px;
  background: linear-gradient(266.83deg, #ecd9a2 17.15%, #f3bc8f 86.42%);
  width: 60%;
  height: 13rem;
}

.component7-image1 {
  height: 97px;
  width: 414px;
  margin-left: 33rem;
}

.component7-image2 {
  height: 191px;
  width: 1031px;
  margin-left: 12rem;
}

.component7-image3 {
  margin-top: -16rem;
  margin-left: 25rem;
}

.component7-image4 {
  margin-top: 4rem;
  position: absolute;
  transform: translateX(-50%);
}

.component7-footer {
  margin-top: -9rem;
}

@media (max-width: 1024px) {
  .component7-image2 {
    width: 800px;
    margin-left: 3rem;
  }

  .component7-image1 {
    height: 97px;
    width: 200px;
    margin-left: 15rem;
  }
}

/* Component 7 End */
